@import url('https://fonts.googleapis.com/css?family=Inter');

/*#####~~ENTIRE APP~~#####*/
.app {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*#####~HEADER~~#####*/
.header-container {
  display: flex;
  align-items:center;
  height: 96px;
  width: 100%;
}

.profile-pic {
  padding: 32px 16px 24px 24px;
}

.new-list-icon {
  padding-right: 24px;
  margin-left: auto;
}


/*#####~~LISTS~~#####*/
/*#####~~ADD LIST CARD~~#####*/
.lists-container {
  position:relative;
  margin-right: 24px;
  margin-left: 24px;
}

.list-card-container, .add-list-card-container  {
  padding: 0 16px 0 16px;
  margin-bottom: 16px;
  height: 60px;
  border: 0.75px solid #ECECEC;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
  position:inherit;
}

.list-card, .add-list-card {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  align-items: center;
}

.expand-icon, .add-list-icon {
  padding-left: 16px;
}


/*#####~~ADD LIST MODAL~~#####*/
.add-list-modal-container {
  height: 88px;
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 32px 24px 24px 24px;
}

.modal-input{
  padding: 0 24px 24px 24px;
}

input {
  caret-color: #2FE6FF;
  border-width:0px;
  border:none;
  height: 26px;
  width: 100%;
  font-family: 'Inter';
}
input:focus {outline:none!important;}


/* #####~~DROP DOWN~~##### */
.dropdown {
  height: 123;
  width: 116;
  border: 1px solid #ECECEC;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position:fixed;
  z-index:1;
  right:0;
  margin-right: 40px;
  transform: translateY(-8px);
}

.edit {
  text-align: center;
  margin: 16px;
}

.delete {
  text-align: center;
  margin: 16px;
}


/* #####~~MEDIA QUERIES~~##### */
@media only screen and (min-width: 1040px) {
  .profile-pic {
    padding-left: 40px;
  }
  .new-list-icon {
    padding-right: 40px;
  }
  .lists-container {
    margin-right: 40px;
    margin-left: 40px;
  }
  .modal-buttons, .modal-input{
    padding-right: 40px;
    padding-left: 40px;
  }
  .dropdown {
    margin-right: 56px;
  }
}

@media only screen and (min-width: 1727px) {
  .lists-container {
    margin-right: 384px;
    margin-left: 384px;
  }
  .modal-buttons, .modal-input{
    padding-right: 384px;
    padding-left: 384px;
  }
  .dropdown {
    margin-right: 400px;
  }
}



