@import url('https://fonts.googleapis.com/css?family=Inter');

/*#####~~ENTIRE APP~~#####*/
.app {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*#####~HEADER~~#####*/
.header-container {
  display: flex;
  align-items:center;
  height: 96px;
  width: 100%;
}
.profile-pic {
  padding: 32px 16px 24px 24px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.new-list-icon {
  margin-left:auto;
  padding-right: 24px;
}
 .title {
}

/*#####~~LISTS~~#####*/
/*#####~~ADD LIST CARD~~#####*/
.lists-container {
  position:relative;
}
.list-card-container, .add-list-card-container  {
  height: 60px;
  margin: 0 24px 16px 24px;
  border: 0.75px solid #ECECEC;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
  position:inherit;
  transition: 300ms ease-out;
}
.list-card, .add-list-card {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
}
.list-card-text, .add-list-card-text {
  padding-left: 16px;
}
.expand-icon, .add-list-icon {
  padding-right: 16px;
  padding-left: 16px;
}

/*#####~~ADD LIST MODAL~~#####*/
.add-list-modal-container {
  background-color: rgb(170, 246, 182);
  height: 88px;
  width: 100%;
}
.modal-buttons {
  background-color: rgb(174, 152, 189);
  display: flex;
  justify-content:space-between;
}
.cancel {
  padding: 32px 0 24px 24px;
}
.done {
  padding: 32px 24px 24px 0;
}
.modal-input{
  padding: 0 24px 24px 24px;
}
input {
  caret-color: #2FE6FF;
  border-width:0px;
  border:none;
  height: 26px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}
input:focus {outline:none!important;}

/* #####~~DROP DOWN~~##### */
.dropdown {
  height: 123;
  width: 116;
  border: 1px solid #ECECEC;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position:fixed;
  z-index:1;
  right:0;
  padding: 16px;
  margin-right: 40px;
  margin-top: 8px;
}

.edit-icon {
}
.delete-icon {

}

@media only screen and (min-width: 1040px) {
  .profile-pic {
    padding-left: 40px;
  }
  .new-list-icon {
    padding-right: 40px;
  }
  .add-list-modal-container {
    background-color: lightblue;
  }
  .cancel {
    padding-left: 40px;
  }
  .done {
    padding-left: 40px;
  }
  .modal-input{
    padding-left: 40px;
    padding-right: 40px;
  }
  .list-card-container, .add-list-card-container {
    margin: 0 40px 16px 40px;
  }
  .dropdown {
    margin-right: 56px;
  }
}

@media only screen and (min-width: 1727px) {
  .list-card-container, .add-list-card-container {
    margin: 0 384px 16px 384px;
  }
  .dropdown {
    margin-right: 400px;
  }
  .add-list-modal-container {
    background-color: rgb(240, 114, 208);
  }
  .cancel {
    padding-left: 384px;
  }
  .done {
    padding-right: 384px;
  }
  .modal-input{
    padding-left: 384px;
    padding-right: 384px;
  }
}


